@import 'normalize.css';
:root {
    --primary: rgba(254, 44, 85, 1);
    --black: black;
    --white: white;
    --text-color: #333;
    //scss
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'ProximaNova', sans-serif;
    line-hight: 1.5;
    font-size: 1.6rem;
    text-rendering: optimizespeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// Font Embedded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/sofiapro-semibold.otf');
    font-weight: 600;
}

// Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 22px;
        background-color: rgba(84, 84, 84, 0.92);
        .tippy-content {
            padding: 8px 9px;
        }
        .tippy-arrow {
            color: rgba(84, 84, 84, 0.92);
        }
        .tippy-content {
            padding: 8px 9px;
        }
        .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
            top: -8px;
        }
    }
}
